anyio==3.2.1
asgiref==3.4.1
click==8.0.1
fastapi==0.65.2
greenlet==1.1.0
h11==0.12.0
idna==3.2
pydantic==1.8.2
sniffio==1.2.0
SQLAlchemy==1.4.20
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
